{% extends "layout.html" %}

{% block title %} Account management {% endblock %}

{% block main %}
<div class="container">
    <h1 class="mt-4 mb-4">Account Management</h1>

    <div class="row mb-5">
        <div class="col-md-6">
            <h2 class="mb-3">Wallet options</h2>
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="mb-3">
                        <h3 class="">
                            <strong>Balance:</strong> <span> ${{ cash }}</span>
                        </h3>
                    </div>
                    <form action="/cash" method="POST">
                        <div class="input-group">
                            <input
                                class="form-control"
                                placeholder="Amount"
                                type="text"
                                id="add_amount"
                                name="add_amount"
                            />
                            <button class="btn btn-primary add-funds-button" type="submit">
                                Add Funds
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h2 class="mb-3">Password settings</h2>
            <div class="card shadow-sm">
                <div class="card-body">
                    <form action="/account" method="post">
                        <div class="input-container">
                            <input
                                class="form-control"
                                placeholder="Old Password"
                                type="password"
                                id="oldpassword"
                                name="oldpassword"
                            />
                            <input
                                class="form-control"
                                placeholder="New password"
                                type="password"
                                id="password1"
                                name="password1"
                            />
                            <input
                                class="form-control"
                                placeholder="Re-type password"
                                type="password"
                                id="password2"
                                name="password2"
                            />
                            <button id="changepassword2" class="btn btn-primary mt-3" type="submit">
                                Change password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}